.location-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px){
  #map {
    height: 400px;
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  #map {
    height: 600px;
    width: 800px;
  }
}

.geolocation-map {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
